<h1> New Contact is: </h1>

First Name: <p><%= @contact.first_name %></p>
Last Name: <p><%= @contact.last_name %></p>
Email: <p><%= @contact.email %></p>
Phone Number: <p><%= @contact.phone_number %></p>
